* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 15vh 73vh 12vh;
    font-family: 'Open Sans', sans-serif;
    background: lightgrey;
}


/* Header */
header {
    display: flex;
    background: #7BAFD4;
    padding: 1rem;
    align-items: center;
    grid-area: 1/1/2/6;
}
#head-logo {
    margin-left: 2%;
    margin-right: 10%;
}
nav {
    width: 70%;
}
nav ul {
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    list-style: none;
    align-items: center;
}
nav a {
    color: white;
    font-weight: bold;
    display: block;
    text-decoration: none;
    text-align: center;
    transition: 0.5s;
}
.head-menu a:hover {
    color: black;
    font-size: larger;
}


/* Main */
.main-h1 {
    margin: 1%;
}
.img-source {
    margin-left: 1rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}


/* Footer  */
footer {
    display: flex;
    justify-content: space-around;
    background: #7BAFD4;
    padding: 1rem;
    align-items: center;
    grid-area: 3/1/4/6
}
.foot-menu a:hover {
    color: black;
}
.search {
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    float: left;
    width: 75%;
    background: #f1f1f1;
}
.search-button {
    float: left;
    width: 15%;
    padding: 10px;
    background: grey;
    color: white;
    font-size: 16px;
    border: 1px solid black;
    border-left: none;
    cursor: pointer;
}
.search-button:hover {
    background: #000080;
}


/* Newsletter Page */
#newsletter-main {
    grid-area: 2/1/3/6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#newsletter-form {
    padding: 35px;
    width: 40%;
    height: 90%;
    margin: 20px;
    border: 1px solid #000080;
    background: #7BAFD4;
}
#newsletter-form div {
    margin-bottom: 2%;
}
.newsletter-label {
    display: block;
    margin-bottom: 2%;
}
.newsletter-label span {
    color: red;
}
.email-input input {
    width: 100%;
    padding: 15px;
}
.name-input {
    display: flex;
}
.name-input input {
    display: flex;
    padding: 15px;
    width: 22vw;
}
#firstname-div {
    margin-right: 25px;
}
.checkbox input {
    float: left;
    width: auto;
    margin-right: 10px;
}
#newsletter-button {
    background: grey;
    border: 0;
    color: white;
    width: 224px;
    padding: 10px;
    text-transform: uppercase;
}
#newsletter-button:hover {
    cursor: pointer;
    background: #000080;
}
.name-input input:valid,
.email-input input:valid {
    border: 2px solid green;
}
.name-input input:invalid,
.email-input input:invalid {
    border: 2px solid red;
}


/* Season Page */
#season-main {
    grid-area: 2/1/3/6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#season-section {
    display: flex;
    background: #7BAFD4;
    border: 1px solid black;
    margin: 20px;
    margin-top: 0;
    height: 80%;
    width: 50%;
}
.season-div-head {
    margin: 1rem;
}
.season-div-wrap {
    width: 100%;
}
.season-div {
    display: flex;
    align-content: center;
    border: 1px solid #000080;
    background: whitesmoke;
    height: 75%;
    max-width: fit-content;
    margin: 1rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.season-img {
    max-height: 100%;
    width: 100%;
}
.season-link {
    text-decoration: none;
    color: white;
}


/* Personnel Page */
#per-main {
    grid-area: 2/1/3/6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#per-section {
    display: flex;
    margin: 20px;
    margin-top: 0;
    height: 80%;
}
.per-div {
    background: #7BAFD4;
    border: 1px solid black;
    margin: 1rem;
    height: 100%
}
.per-div-head {
    margin: 1rem;
}
#per-staff-div {
    display: flex;
    align-content: center;
    border: 1px solid #000080;
    background: whitesmoke;
    height: 72%;
    width: 25vw;
    margin: 1rem;
    margin-top: 0;
}
#per-roster-div {
    display: flex;
    align-content: center;
    border: 1px solid #000080;
    background: whitesmoke;
    height: 72%;
    width: 50vw;
    margin: 1rem;
    margin-top: 0;
}
#staff-img {
    max-height: 100%;
    width: 100%;
}


/* Home Page */
.home-section-head {
    margin: 1rem;
}
#home-section1 {
    grid-area: 2/1/3/3;
    display: flex;
    flex-direction: column;
}
.home-section1-div {
    margin: 20px;
    align-items: center;
    justify-content: center;
    border: 1px solid #000080;
    background: #7BAFD4;
    height: 42%;
    width: 94%;
    padding: 1rem;
    padding-top: 0;
}
.home-section1-content {
    display: flex;
    border: 1px solid #000080;
    background: whitesmoke;
    height: 70%;
    width: fit-content;
    margin: 1rem;
    margin-top: 0;
    padding: 1rem;
}
.bold-content {
    font-weight: bold;
}
.home-season-content {
    margin-left: 1rem;
    height: fit-content;
    font-size: 1vw;
}
#home-section2 {
    grid-area: 2/3/3/5;
    display: flex;
}
#home-section2-div {
    margin: 20px;
    align-items: center;
    justify-content: center;
    border: 1px solid #000080;
    background: #7BAFD4;
    height: 92%;
    width: 100%;
    padding: 1rem;
    padding-top: 0;
}
#home-blog-div {
    border: 1px solid #000080;
    background: whitesmoke;
    height: 88%;
    width: 100%;
    margin-top: 0;
    padding: 1rem;

}
#home-section3 {
    grid-area: 2/5/3/6;
    display: flex;
}
#social-div {
    margin: 20px;
    height: 68vh;
    width: 100%;
}


/* About Page */
#about-main {
    grid-area: 2/1/3/6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#about-section {
    display: flex;
    flex-direction: column;
    background: #7BAFD4;
    border: 1px solid black;
    margin: 20px;
    margin-top: 0;
    height: 80%;
    width: 50%;
}
.about-content {
    margin: 1rem;
    height: fit-content;
    font-size: 1vw;
}
#about-img-div {
    align-self: center;
    height: 60%;
    max-width: 50%;
    border: 1px solid #000080;
}
#about-img {
    max-height: 100%;
    width: 100%;
}


/* Blog Page */
#blog-main {
    grid-area: 2/1/3/6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#blog-section {
    display: flex;
    flex-direction: column;
    background: #7BAFD4;
    border: 1px solid black;
    margin: 20px;
    margin-top: 0;
    height: 88%;
    width: 50%;
    font-size: smaller;
}
.blog-div {
    border: 1px solid #000080;
    background: whitesmoke;
    height: 88%;
    width: 95%;
    margin: 1rem;
    margin-top: 0;
    padding: 1rem;
}
.blog-content {
    margin: 1rem;
    height: fit-content;
    font-size: 1vw;
}


/* Contact Page */
#contact-main {
    grid-area: 2/1/3/6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contact-form {
    padding: 35px;
    width: 40%;
    height: 90%;
    margin: 20px;
    border: 1px solid #000080;
    background: #7BAFD4;
}
#contact-form div {
    margin-bottom: 1%;
}
#subject {
    border: 1px solid #000080;
    padding: 10px;
}
.email-input textarea {
    width: 100%;
    max-height: 30%;
    padding: 15px;
}


/* Media Queries */
@media screen and (max-width: 959px) {
    body {
        display: block;
    }
    header {
        justify-content: center;
        align-content: center;
    }
    .menu-break {
        display: none;
    }
    #head-logo {
        margin: 0;
    }
    footer {
        justify-content: center;
    }
    ul {
        flex-direction: column;
    }

    /* Home Page */
    .home-section1-content {
        flex-direction: column;
    }
    #home-section2-div {
        width: 100%;
    }
    .home-season-content {
        font-size: 16px;
    }

    /* Season Page */
    #season-section {
        flex-direction: column;
        width: 90%;
    }
    .season-div {
        min-width: fit-content;
    }

    /* Personnel Page */
    #per-section {
        flex-direction: column;
    }
    #per-staff-div {
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-bottom: 1rem;
        width: 90%;
    }
    #per-roster-div {
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-bottom: 1rem;
        width: 90%;
    }

    /* Newsletter Page */
    #newsletter-form {
        display: flex;
        flex-direction: column;
    }
    .name-input {
        flex-direction: column;
    }
    .name-input input {
        width: 100%;
    }
    #firstname-div {
        margin-right: 0;
    }
}

